<div class="bg" id="registrationPage">
	<div id="quote">
		<h1>Account</h1>
	</div>
    <!-- Sign out & Home -->
        <div class="text-holder home">
            <div class="container">
                <div class="row no-gutters ">
                    <div class="content-heading col-md-12 text-left">
                        <a href="#" class="title home">Home</a>
                        <a href="#!/cart" class="title sign-out">View Cart</a>
                        <a href="" class="title sign-out" ng-click="logout()">Sign Out</a>


                     </div>
                </div>
            </div>
        </div>
    <!-- /*ACCOUNT  - ACCOUNT  - ACCOUNT */ -->

    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="panel panel-default" id="formform">
                    <form accept-charset="UTF-8" role="form" class="form-signinAcc" id="formAcc">
                        <div id="accountInfo">
                            <p>
                            	<i>Username <br></i>
                            	{{userData.username}}
                            </p>
                        	<p>
                        		<i>First name <br></i>
                                {{userData.first_name}}
                        	</p>
                            <p>
                            	<i>Last name <br></i>
                            	{{userData.last_name}}
                            </p>
                            <p>
                            	<i>Email Address <br></i>
                            	<span ng-if="!cEA">{{userData.email}}</span>
                                <span ng-if="cEA"><input type="text" placeholder="Email" ng-model = "details.email" required></span>
                            	<a href="" ng-click= "cEA = !cEA"><i class="fas fa-edit"></i></a>
                            </p>
                            <p>
                                <i>Contact Number <br></i>
                                <span ng-if="!cCN">{{userData.contact_num}}</span>
                                <span ng-if="cCN"><input type="text" placeholder="Contact Number" ng-model = "details.number" required></span>
                                <a href="" ng-click= "cCN = !cCN"><i class="fas fa-edit"></i></a>
                            </p>
                            <p>
                            	<i>Birthdate <br></i>
                            	{{userData.birth_date}}
                            </p>
                            <p>
                            	<i>Password<br></i>
                            	<span ng-if="!cPW">********</span>
                                <span ng-if="cPW"><input type="password" placeholder="Password" ng-model = "details.pword" required></span>
                            	<a href="" ng-click= "cPW = !cPW"><i class="fas fa-edit"></i></a>
                            </p>
                            <button type="button" class="btn btn-success" id="buttonAcc" ng-click="updateDetails()">
                            	Save <i class="fas fa-save"></i> 
                            </button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>    
